name: Publish to PyPI

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy:
    name: Publish Python package to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - name: Check out the Repository
      uses: actions/checkout@v4

    - name: Set up uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true

    - name: Set up Python Environment
      run: uv python install 3.10

    - name: Build package
      run: uv build

    - name: Publish package distributions to PyPI
      run: uv publish
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
